<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs', {title: title}) %>
    <body>
        <h1>Welcome to the <%= title %></h1>

        <div class="container">
            <% if(errors.length > 0) { %>
                <%- include('partials/errors.ejs', {errors:errors}) %>
            <% } else if(posts.length === 0){%>
                <h2>No posts available.</h2>
            <% } else { %>
                <%- include('partials/postsPartial.ejs', {posts:posts}) %>
            <% } %>
        </div>

    </body>
</html>
